body {
    margin: 0;
}

.nav {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}

.container {
    max-width: 1000px;
}

.container > *{
    display:inline-block;
}
.list > div {
    display:inline-block;
}